/*---------------- 自定义 CSS样式文件，如有需要在此文件中添加 ------------------- */

/*--- 考试内容、考试简介等，正文的格式
 * 首行缩进2格
 * 文字两端对齐
 * 每一段之后的空隙为1em
 --- */
.news-text p{
    text-align: justify;
    text-justify: inter-ideograph;
    text-indent: 2em;
    margin-bottom: 1em;
}
.news-text h4{
    margin-bottom: 1em;
}
.news-text ol{
    text-align: justify;
    text-justify: inter-ideograph;
}
.news-text li{
    margin-bottom: 1em;
}
/*--- 文章格式
 * 内容居中，最大宽度为页面的70%
 --- */
.news-text {
    display: flow;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 70vw;
}
/*--- 表格样式
 * 边框浅灰色
 */
.news-text table,table tr th, table tr td{
    border:1px solid #93a1a2aa;
}
.news-text table{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    border-collapse: collapse;
    line-height: 2.5em;
    width:auto;
}
/*--- 教师批改试卷界面
 *
 */
.score-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.paper-info-box button {
    margin-right: 1em;
}
.paper-info-box row {
    margin-top:2em;
    margin-left: auto;
    margin-right: auto;
}

.paper-info-box-title {
    font-size:42px;
    font-style: initial;
    color:#299be4;
}